h1, h2, p{
    font-family: "figtree";
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4D04E;
}

body > main{
    display: flex;
    flex-direction: column;
    width: 384px;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    padding: 24px;
    margin: 70px;
    justify-self: center;
    align-self: center;
}
.par{
    color: #6B6B6B;
    font-family: "figtree";
}
.ill{
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-self: center;

}
h1{
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    background-color: #F4D04E;
    padding: 5px;
    border-radius: 5px;
    margin-top: 24px;
    margin-bottom: 5px;
}
h2{
    font-size: 24px;
    font-weight: bolder;
    padding-top: 6px;
    padding-bottom: 6px;
    transition: color 200ms ease-in-out;
}
h2:hover{
    color: #F4D04E;
}

p{
    padding-top: 6px;
    padding-bottom: 6px;
}
p.par1{
margin-left: 10px;
}

.footer{
    display: flex;
    align-items: center;
    margin-top: 14px;
    margin-top: 14px;
    font-size: 14px;
    font-weight: bold;
}

.avater{
    width: 35px;
    height: 35px;
    padding: 2px;
}